<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Lesson-1</title>
    <script src="../script/vue.js"></script>
    <script src="./app.js"></script>
</head>
<body>
    <div id="app2">
        <h1 v-if="authorization">{{message}} {{name}}</h1>
        <h1 v-if="!authorization">{{message}} Anonymous User</h1>
    </div>

    <div id="app">
        <br>
        <p>Display is {{isDisplay}}</p>
        <h1 v-show="isDisplay">{{message}}</h1>
        <p>v-html</p>
        <div v-html="xssTest"></div>

        <p>v-text</p>
        <div v-text="xssTest"></div>
    </div>


</body>
</html>